body {
    color: #293331;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #ffffff;
}

p {
   font-family: 'Merriweather', serif;
   line-height: 3;
}

h2 {
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h1 {
    margin: 100px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h3 {
    color:  #11999E;
}

hr {
  border: dotted EAF6F6 6px ;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.top-container {
    background-color: #282f50;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: #ffffff;
    margin: 100px 0;
    
}

.bottom-container {
    background-color: #99b1c58f;   
    padding: 10px 0 10px;
}

.coding-clip {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 30px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copy-right {
    color: #383e53;
    font-size: 1rem;
    padding: 20px 0;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 300px;
    height: 200px;
    width: 200px;
}


.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 500px;
}


.center-mountain{
    height: 600px;
    width: 900px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.lego-logo {
    height: 200px;
    width: 200px;
    margin-left: 30px;
    float: right;
}

h3 {
    font-size: 30px;
}

.heading-three {
    font-size: 35px;
}

.btn {
	background-color:#4566c7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:10px 22px;
	text-decoration:none;
	text-shadow:0px 0px 9px #1c33c9;
}
.btn {
	background-color:#472abd;
}
.btn {
	position:relative;
	top:1px;
}
